html,  body { 
        
  height: 100%;
  width: 100%;
} 
h1{ 
    color: red; 
}
p { 
    color: red; 
}

a {
    color: red;
}

form {
    color: red;
} 

body {
      background-image: linear-gradient(to bottom right, #914e45, #4f6390);
      background-position: center;
      background-repeat: repeat-y;
      background-size: cover;
} 
h1 {text-align: center;} 

h1 {
  font-size: 80px;
} 


#season13Paragraph {
    border: 1px solid white;
    width: 700px;
    font-size: 20px;
    color: white;
}

#season13Paragraph p {
    color: #8B0000;
}

